ChangeLog
CMakeCache.txt
CMakeFiles/
cmake_*install.cmake
CPack*Config.cmake
_CPack_Packages/
CVS/
debug*s.list
FedPkg
*.gmo
install_manifest.txt
*.la
libtool
*.lo
*.loT
ltmain.sh
Makefile
missing
*NO_PACK*
*.o
*.old
*.orig
po/CMakeFiles/
*.pot
py-compile
RPMS/
*.so
SPECS/RPM-ChangeLog
SRPMS/
stamp-h1
*.swp
tags
bodhi.template

